# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# IDE/editor configs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*.local

# Optional lockfiles (dependendo do gerenciador)
package-lock.json
yarn.lock
pnpm-lock.yaml
